{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-4">
        <h3>Descripción de Predicciones:</h3>
        <p>En la siguiente sección se pueden apreciar los Dashboards resultantes del pronostico de la diabetes en la
            Republica Mexicana </p>
        <br>
        <p>Se utilizaron 3 algoritmos para la generación de los Dashboards, los cuales son:</p>
        <ul class="list-group">
            <li class="list-group-item list-group-item-primary">
                <p>
                    Dashboard 1: Regresión Lineal
                </p>
                <br>
                <p>En la siguiente figura se muestra el resutlado de la implementación del algoritmo de
                    regresión lineal para distintos estados de la Republica Mexicana. Este algoritmo
                    se implemento en el lenguaje de programación Python.
                </p>
                <!-- Regresion Lineal-->
                <div class="row">
                    <div class="container">
                        <figure class="figure">
                            <img class="figure-img img-fluid rounded"
                                alt="A generic square placeholder image with rounded corners in a figure."
                                src="https://i.postimg.cc/Y9NWyZDc/Lineal-m.png" />
                            <figcaption class="figure-caption text-right">Figura 1: Regresión Lineal para varios estados
                                de la Republica Mexicana</figcaption>
                        </figure>
                    </div>
                </div>

            </li>
            <li class="list-group-item list-group-item-secondary">
                <p>
                    Dashboard 2: Regresión Polinomica 2° grado.
                </p>
                <br>
                <p>En la siguiente figura se muestra el resutlado de la implementación del algoritmo de
                    regresión polinomial de segundo grado, para distintos estados de la Republica Mexicana. Este
                    algoritmo
                    se implemento en el lenguaje de programación Python.
                </p>
                <!-- Regresion Polinomial 2-->
                <div class="row">
                    <div class="container">
                        <figure class="figure">
                            <img class="figure-img img-fluid rounded"
                                alt="A generic square placeholder image with rounded corners in a figure."
                                src="https://i.postimg.cc/PxJg6n5J/Multi-2-m.png" />
                            <figcaption class="figure-caption text-right">Figura 2: Regresión Polinomial 2° para varios estados
                                de la Republica Mexicana</figcaption>
                        </figure>
                    </div>
                </div>
            </li>
            <li class="list-group-item list-group-item-success">
                <p>
                    Dashboard 3: Regresión Polinomica 3° grado.
                </p>
                <br>
                <p>En la siguiente figura se muestra el resutlado de la implementación del algoritmo de
                    regresión polinomial de tercer grado, para distintos estados de la Republica Mexicana. Este
                    algoritmo
                    se implemento en el lenguaje de programación Python.
                </p>
                <!-- Regresion Polinomial 3-->
                <div class="row">
                    <div class="container">
                        <figure class="figure">
                            <img class="figure-img img-fluid rounded"
                                alt="A generic square placeholder image with rounded corners in a figure."
                                src="https://i.postimg.cc/jj3xqXWW/Multi-3-m.png" />
                            <figcaption class="figure-caption text-right">Figura 3: Regresión Polinomial 3° para varios estados
                                de la Republica Mexicana</figcaption>
                        </figure>
                    </div>
                </div>

            </li>
            <li class="list-group-item list-group-item-light">
                <h3>Algoritmos descartados:</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">
                        <p>
                            Regresión Lineal Multiple
                        </p>
                        <br>
                        <p>
                            No se presenta graficas de este algoritmo debido a que no se obtuvieron resultados
                            graficos, pero estan presentes en el documento final sobre el proyecto.
                        </p>
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        <p>
                            Bosques Aleatorios
                        </p>
                        <br>
                        <p>En la siguiente figura se muestra el resutlado de la implementación del algoritmo de
                            Bosques Aleatorios para distintos estados de la Republica Mexicana. Este algoritmo
                            se implemento en el lenguaje de programación Python.
                        </p>
                        <!-- Grafica de Bosques Aleatorios-->
                        <div class="row">
                            <div class="container">
                                <figure class="figure">
                                    <img class="figure-img img-fluid rounded"
                                        alt="A generic square placeholder image with rounded corners in a figure."
                                        src="https://i.postimg.cc/fyjh6jmg/Bosques.jpg" />
                                    <figcaption class="figure-caption text-right">Figura 4: Implementación fallida de Bosques
                                        Aleatorios.</figcaption>
                                </figure>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>






    </div>

    <div class="col-8">
        <br>
        <font size=13>Dashboard 1: Pronóstico por Regresión Lineal</font>
        <br>
        <div class='tableauPlaceholder' id='viz1623823835173' style='position: relative'><noscript><a href='#'><img
                        alt='Dashboard 1 '
                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Regresion_lineal_diabetes&#47;Dashboard1&#47;1_rss.png'
                        style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='site_root' value='' />
                <param name='name' value='Regresion_lineal_diabetes&#47;Dashboard1' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image'
                    value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Regresion_lineal_diabetes&#47;Dashboard1&#47;1.png' />
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='es-ES' />
            </object></div>
        <script
            type='text/javascript'>                    var divElement = document.getElementById('viz1623823835173'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '900px'; vizElement.style.height = '627px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '900px'; vizElement.style.height = '627px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '827px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
        <hr>
        <br>
        <font size=13>Dashboard 2: Pronóstico por Regresión Polinomica de segundo grado</font>
        <br>
        <div class='tableauPlaceholder' id='viz1623825392386' style='position: relative'><noscript><a href='#'><img
                        alt='Dashboard 1 '
                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Regresion_polinomica_2_diabetes&#47;Dashboard1&#47;1_rss.png'
                        style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='site_root' value='' />
                <param name='name' value='Regresion_polinomica_2_diabetes&#47;Dashboard1' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image'
                    value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Regresion_polinomica_2_diabetes&#47;Dashboard1&#47;1.png' />
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='es-ES' />
            </object></div>
        <script
            type='text/javascript'>                    var divElement = document.getElementById('viz1623825392386'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '900px'; vizElement.style.height = '627px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '900px'; vizElement.style.height = '627px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '827px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
        <hr>
        <br>
        <font size=13>Dashboard 3: Pronóstico por Regresión Polinomica de tercera grado</font>
        <br>
        <div class='tableauPlaceholder' id='viz1623826709505' style='position: relative'><noscript><a href='#'><img
                        alt='Dashboard 1 '
                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Regresion_polinomica_3_diabetes&#47;Dashboard1&#47;1_rss.png'
                        style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='site_root' value='' />
                <param name='name' value='Regresion_polinomica_3_diabetes&#47;Dashboard1' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image'
                    value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Regresion_polinomica_3_diabetes&#47;Dashboard1&#47;1.png' />
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='es-ES' />
            </object></div>
        <script
            type='text/javascript'>                    var divElement = document.getElementById('viz1623826709505'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '900px'; vizElement.style.height = '627px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '900px'; vizElement.style.height = '627px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '827px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>


    </div>
</div>

{{> footer}}