{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-3 mx-5">
        <h3>Descripción de Predicciones:</h3>
        <p>En la siguiente sección se pueden apreciar los Dashboards resultantes del pronóstico de la diabetes en la
            República Mexicana </p>
        <br>
        <p>Se utilizarón 3 algoritmos para la generación de los Dashboards, los cuáles son:</p>
        <ul class="list-group">
            <li class="list-group-item list-group-item-primary">
                <p>
                    Regresión Lineal
                </p>
                <br>
                <p>En la siguiente figura se muestra el resutlado de la implementación del algoritmo de
                    regresión lineal para distintos estados de la República Mexicana. Este algoritmo
                    se implemento en el lenguaje de programación Python.
                </p>
                <!-- Regresion Lineal-->
                <div class="row">
                    <div class="container">
                        <figure class="figure">
                            <img class="figure-img img-fluid rounded"
                                alt="A generic square placeholder image with rounded corners in a figure."
                                src="#" />
                            <figcaption class="figure-caption text-right">Figura 1: Regresión Lineal para varios Estados
                                de la República Mexicana</figcaption>
                        </figure>
                    </div>
                </div>

            </li>
            <li class="list-group-item list-group-item-secondary">
                <p>
                    Regresión Polinómial de 2° orden.
                </p>
                <br>
                <p>En la siguiente figura se muestra el resutlado de la implementación del algoritmo de
                    regresión polinomial de segundo grado, para distintos Estados de la República Mexicana. Este
                    algoritmo
                    se implementó en el lenguaje de Programación Python.
                </p>
                <!-- Regresion Polinomial 2-->
                <div class="row">
                    <div class="container">
                        <figure class="figure">
                            <img class="figure-img img-fluid rounded"
                                alt="A generic square placeholder image with rounded corners in a figure."
                                src="#" />
                            <figcaption class="figure-caption text-right">Figura 2: Regresión Polinomial de 2° orden
                                para varios Estados
                                de la Republica Mexicana</figcaption>
                        </figure>
                    </div>
                </div>
            </li>
            <li class="list-group-item list-group-item-success">
                <p>
                    Regresión Polinomial de 3° orden.
                </p>
                <br>
                <p>En la siguiente figura se muestra el resultado de la implementación del algoritmo de
                    regresión polinomial de tercer orden, para distintos Estados de la Republica Mexicana. Este
                    algoritmo
                    se implemento en el lenguaje de programación Python.
                </p>
                <!-- Regresion Polinomial 3-->
                <div class="row">
                    <div class="container">
                        <figure class="figure">
                            <img class="figure-img img-fluid rounded"
                                alt="A generic square placeholder image with rounded corners in a figure."
                                src="#" />
                            <figcaption class="figure-caption text-right">Figura 3: Regresión Polinomial de 3° orden
                                para varios estados
                                de la Republica Mexicana</figcaption>
                        </figure>
                    </div>
                </div>

            </li>
            <li class="list-group-item list-group-item-light">
                <h3>Algoritmos descartados:</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">
                        <p>
                            Regresión Lineal Multiple
                        </p>
                        <br>
                        <p>
                            No se presenta gráficas de este algoritmo debido a que no se obtuvieron resultados
                            graficos, pero estan presentes los resultados en el documento final.
                        </p>
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        <p>
                            Bosques Aleatorios
                        </p>
                        <br>
                        <p>En la siguiente figura se muestra el resultado de la implementación del algoritmo de
                            Bosques Aleatorios para distintos estados de la Republica Mexicana. Este algoritmo
                            se implemento en el lenguaje de programación Python.
                        </p>
                        <!-- Grafica de Bosques Aleatorios-->
                        <div class="row">
                            <div class="container">
                                <figure class="figure">
                                    <img class="figure-img img-fluid rounded"
                                        alt="A generic square placeholder image with rounded corners in a figure."
                                        src="https://i.postimg.cc/fyjh6jmg/Bosques.jpg" />
                                    <figcaption class="figure-caption text-right">Figura 4: Implementación fallida de
                                        Bosques
                                        Aleatorios.</figcaption>
                                </figure>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>






    </div>

    <div class="col-8">

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                            Regresión Lineal
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        {{> lineal_mapa}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Regresión Polinómial de segundo orden.
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        {{> poli_2}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            Regresión Polinómial de tercer orden.
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        {{> poli_3}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            Modelo de Regresión Lineal.
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        {{> lineal_comparacion}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            Modelo de Regresión Polinomial de segundo orden.
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        {{> polinomial_2_comparacion}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                            aria-expanded="false" aria-controls="collapseSix">
                            Modelo de Regresión Polinomial de tercer orden.
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                        {{> polinomial_3_comparacion}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}