{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-3 mx-5">
        <h3>Descripción de Predicciones</h3>
        <br>
        <p class="lead text-justify">En esta siguiente sección se aprecian los resultados del pronóstico de la diabetes en la
            República Mexicana por medio de mapas y graficas interactivas.
        <br>
        <br>
        Se utilizarón tres técnicas para el cálculo de las predicciones, las cuáles son:</p>
        <ul class="list-group">
            <li class="list-group-item list-group-item-primary">
                <h5>
                    Regresión Lineal
                </h5>
                <br>
                <p class="lead text-justify">La Regresión Lineal es un modelo matemático usado para aproximar la relación de dependencia entre una variable dependiente, que es el número de casos de diabetes, conforme al año. <br> 
Para observar los resultados de la regresión lineal, se puede consultar la sección <b> Regresión Lineal</b> y <b>Modelo de Regresión Lineal</b> en el panel de la derecha, los cuales muestran el pronóstico del número de casos de diabetes por estado y, 
el modelo de regresión lineal para el número de casos de diabetes, respectivamente. <br>

                </p>
                <!-- Regresion Lineal-->
        

            </li>
            <li class="list-group-item list-group-item-secondary">
                <h5>
                    Regresión Polinomial de 2° orden.
                </h5>
                <br>
                <p class="lead text-justify">La regresión polinomial es un modelo de análisis de regresión en el que la relación entre la variable independiente, el año, y la variable dependiente, el numero de casos de diabetes se modela a partir de una polinomial de 2° grado. <br> 
Para observar los resultados de la regresión polinomial de 2° orden, se puede consultar el <b>Regresión Polinómial de segundo orden</b> y <b>Modelo de Regresión Polinomial de segundo orden</b>, en el panel de la derecha, 
los cuales muestran el pronostico de número de casos de diabetes por estado, y el 
 el modelo de regresión polinomial de 2° orden para el numero de casos de diabetes por estado.<br> 

                </p>
                <!-- Regresion Polinomial 2-->
                
            </li>
            <li class="list-group-item list-group-item-success">
                <h5>
                    Regresión Polinomial de 3° orden.
                </h5>
                <br>
                <p class="lead text-justify">La regresión polinomial es un modelo de análisis de regresión en el que la relación entre la variable independiente, el año, y la variable dependiente, el número de casos de diabetes se modela a partir de una polinomial de 3° grado. <br> 
Para observar los resultados de la regresión polinomial de 2° orden, se puede consultar el <b>Regresión Polinómial de tercer orden</b> y <b>Modelo de Regresión Polinomial de tercer orden</b>, a la derecha se 
muestra el pronóstico de número de casos de diabetes por estado, y
el modelo de regresión polinomial de 3° orden para el número de casos de diabetes por estado.<br> 

                </p>
                <!-- Regresion Polinomial 3-->
                

            </li>
            <!-- li <class="list-group-item list-group-item-light">
                <h3>Algoritmos descartados:</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">
                        <p>
                            Regresión Lineal Multiple
                        </p>
                        <br>
                        <p>
                            No se presenta gráficas de este algoritmo debido a que no se obtuvieron resultados
                            graficos, pero estan presentes los resultados en el documento final.
                        </p>
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        <p>
                            Bosques Aleatorios
                        </p>
                        <br>
                        <p>En la siguiente figura se muestra el resultado de la implementación del algoritmo de
                            Bosques Aleatorios para distintos estados de la Republica Mexicana. Este algoritmo
                            se implemento en el lenguaje de programación Python.
                        </p>
                        <!-- Grafica de Bosques Aleatorios
                        >
                    </li>
                </ul>
            </li>-->
        </ul>






    </div>

    <div class="col-8">

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                            Regresión Lineal
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        {{> lineal_mapa}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Regresión Polinómial de segundo orden.
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        {{> poli_2}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            Regresión Polinómial de tercer orden.
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        {{> poli_3}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            Modelo de Regresión Lineal.
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        {{> lineal_comparacion}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            Modelo de Regresión Polinomial de segundo orden.
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        {{> polinomial_2_comparacion}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                            aria-expanded="false" aria-controls="collapseSix">
                            Modelo de Regresión Polinomial de tercer orden.
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                        {{> polinomial_3_comparacion}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}