{{> head}}
    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>Esto es un texto</h1>
        </div>

        <div class="col-4">
            <img src="/06-Web-server/public/assets/img/hola.jpg" alt="img-thumbnail">
        </div>
    </div>

{{> footer}}