{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-3 mx-5">
        <h3>Sección de anexos</h3>
        <br>
        <p class="lead text-justify">En la presente sección se hace mención de varios datos y documentos relevantes 
           consultados durante el desarrollo del proyecto.
        Los más destacados fueron los siguientes cinco:
        <br>
        </p>
        <ul class="list-group">
        <li class="list-group-item">
            <h5>Población de la República Mexicana con carencia alimenticia</h5>
            <p class="lead text-justify">
              Muestra el número de habitantes por estado de la República Mexicana y los miles de personas que cuentan con carencia al acceso alimenticio.
            </p>
        </li>
        <li class="list-group-item">
            <h5>Seguridad Social y Personas con Carencia a Servicios de Salud</h5>
            <p class="lead text-justify"
              Muestra el número de personas con carencia a la seguridad social y a los servicios de salud.
            </p>
        </li>
        <li class="list-group-item">
            <h5>Pobreza en la República Mexicana</h5>
            <p class="lead text-justify">
              Muestra el número de personas que cuentan con ingresos inferiores a la línea de pobreza extrema y con ingresos inferiores a la línea de pobreza.  
            </p>
        </li>
        <li class="list-group-item">
            <h5>Seguridad Social en la República Mexicana</h5>
            <p class="lead text-justify">
                Muestra la situación del seguro social para personas ocupadas laboralmente, personas mayores a 65 años sin acceso a la seguridad social y las personas económicamente no activas sin acceso a la seguridad social.
            </p>
        </li>
        <li class="list-group-item">
            <h5>Seguridad Alimenticia en la República Mexicana</h5>
            <p class="lead text-justify">
                Muestra la situación alimenticia en la Republica Mexicana, donde se puede apreciar la situación inseguridad alimenticia leve, moderada y severa, además de la seguridad alimenticia.
            </p>
        </li>
    </ul>
    </div>

    <div class="col-8 mx-auto">

        <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Población de la República Mexicana con carencia alimenticia.
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {{> mapa_1}}
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Seguridad Social y Personas con Carencia a Servicios de Salud.
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
          {{> mapa_2}}
       </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Pobreza en la República Mexicana.
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
          {{> mapa_3}}
       </div>
    </div>
    <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Seguridad Social en la República Mexicana.
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
          {{> mapa_4}}
       </div>
    </div>
    <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Seguridad Alimenticia en la República Mexicana.
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
          {{> mapa_5}}
       </div>
    </div>
  </div>
</div>


    </div>
</div>

{{> footer}}