{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-3 mx-5">
        <h3>Descripción de anexos:</h3>
        <br>
        <p>En la siguiente sección se hace mención de varios datos y documentos
           consultados durante la elaboración de este proyecto.
        </p>
        <br>
        <p>Aunque en los pronósticos resultantes no se uso los documentos anteriores.
            La informaci
        </p>
        <br>
        <p>Se diseñaron 5 dashboards, elaborados con la herramienta Tableau.
            Se obtuvieron los siguientes resultados:
        </p>
    </div>

    <div class="col-8 mx-auto">

        <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Población de la Republica Mexicana y con cacrencia alimentaria.
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {{> mapa_1}}
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Seguridad Social y Personas con carencia en Servicios de Salud.
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
          {{> mapa_2}}
       </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Pobreza en la Rupublica Mexicana.
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
          {{> mapa_3}}
       </div>
    </div>
    <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Seguridad social en la Republica Mexicana.
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
          {{> mapa_4}}
       </div>
    </div>
    <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Seguridad alimentaria en la Republica Mexicana.
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
          {{> mapa_5}}
       </div>
    </div>
  </div>
</div>


    </div>
</div>

{{> footer}}