{{> head}}
{{> navbar}}

<div class="jumbotron">
    <h1 class="display-4 text-center">"Sistema de proyección de comportamiento de la diabetes en México basado en
        minería de datos"</h1>
    <br>
    <p class="lead text-center">Presentado por Miguel Alejandro Domínguez Quezada y Alejandro Viveros Sánchez</p>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" align="middle">
                <img class="d-block"
                    src="https://i.postimg.cc/TPzR19KR/Whats-App-Image-2021-06-18-at-10-13-49-PM.jpg" 
                    alt="First slide"
                    width="400" 
                    height="200">
            </div>
            <div class="carousel-item" align="middle">
                <img class="d-block"
                    src="https://i.postimg.cc/cL51yZZt/Whats-App-Image-2021-06-18-at-10-13-49-PM-1.jpg"
                    alt="Second slide"
                    width="400" 
                    height="200">
            </div>
            <div class="carousel-item" align="middle">
                <img class="d-block"
                    src="https://i.postimg.cc/fbtzMFT2/Whats-App-Image-2021-06-18-at-10-13-49-PM-2.jpg"
                    alt="Third slide"
                    width="400" 
                    height="200">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <hr class="my-4">
    <h2 class="text-center">Descripción:</h2>
    <br>
    <p class="lead text-justify">En el presente portal se muestran los resultados obtenidos del proyecto terminal “Sistema de proyección de comportamiento de la diabetes en México basado en minería de datos”. El presente proyecto tuvo como objetivo desarrollar un sistema que permita estimar el numero de pacientes con diabetes en México mediante el uso de técnicas de ciencia de datos y la consolidación de una base de datos elaborada a partir de fuentes de acceso público.
    </p>
    <br>
    <h2 class="text-center">Acerca de:</h2>
    <br>
    <p class="lead text-justify">
La población objetivo a la que va dirigida la presente divulgación de información es el publico en general, así como personas especializadas en el ramo de la salud. <br>
En el presente portal web se pueden apreciar los “Dashboards” que muestran los resultados del pronóstico del comportamiento de la diabetes en la República Mexicana. Además, cuenta con secciones adicionales que complementan estos hallazgos con información importante de la situación de la enfermedad en la República Mexicana en los últimos años. <br> <br>
Todos los mapas e información grafica presentes en el siguiente portal pueden ser descargados. Esto se logró mediante el uso del software Tableau. <br> 
</p>
    <p class="lead">El portal web consta de las siguientes secciones:</p>
    <ul class="list-group">
        <li class="list-group-item">
            <p class="lead text-justify">
                Inicio: <br> <br>
                En este apartado se presenta información general acerca del proyecto.
            </p>
        </li>
        <li class="list-group-item">
            <p class="lead text-justify">
                Predicciones: <br> <br>
                En esta sección se aprecian los resultados obtenidos en la realización de este proyecto, donde se obtuvo el pronóstico del número de casos de diabetes a 10 años por estado en la República Mexicana.
            </p>
        </li>
        <li class="list-group-item">
            <p class="lead text-justify">
                Anexos: <br> <br>
                En este bloque se muestran varias figuras elaboradas a partir de información procedente del Consejo Nacional de Evaluación de la Política de Desarrollo Social. <br>
Se anexaron las siguientes figuras debido a que la información que brindan puede ser de interés para el usuario final, ya que presentan información relevante sobre la situación alimentacia, nivel de pobreza, entre otros factores que afectan el pais.

            </p>
        </li>
    </ul>
    <br>
    <h2 class="text-center">Resumen del proyecto:</h2>
    <br>
    <p class="lead text-justify">La enfermedad de la diabetes es una enfermedad con presencia a nivel global, y que es padecida
        por millones de individuos en todo el mundo. En México, la atención de esta
        enfermedad supone un gasto de miles de pesos para el gobierno, afecta de manera
        severa el estilo y calidad de vida de aquellos individuos afectados, es por ello que, resulta de
        particular utilidad conocer el desarrollo de esta enfermedad sobre el territorio mexicano, con la
        finalidad de identificar factores de vulnerabilidad y adoptar estrategias para su prevención.
        <br>
        Este proyecto tuvo como objetivo explicar el análisis, diseño e implementación del
        sistema propuesto para la realización de un pronóstico sobre el comportamiento de la enfermedad
        de la diabetes en México mediante uso de minería de datos.
        Para ello se recolectaron diferentes
        bases de datos provenientes de fuentes de acceso público, se procesaron y se obtuvo la
        proyección del desarrollo de la enfermedad de la diabetes. Todo esto, siguiendo los procesos y
        metodologías especializadas para el trabajo de análisis de datos.
        <br>
        <br>
        Palabras clave: Diabetes, minería de datos, proyección, base de datos.
    </p>

</div>

{{> footer}}