{{> head}}
{{> navbar}}

<div class="jumbotron">
    <h1 class="display-4">Presentación del "Sistema de proyección de comportamiento de la diabetes en México basado en
        minería de datos"</h1>
    <p class="lead">Presentado por Miguel Alejandro Dominguez Quezada y Alejandro Viveros Sánchez</p>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" align="middle">
                <img class="d-block"
                    src="https://i.postimg.cc/TPzR19KR/Whats-App-Image-2021-06-18-at-10-13-49-PM.jpg" 
                    alt="First slide"
                    width="400" 
                    height="200">
            </div>
            <div class="carousel-item" align="middle">
                <img class="d-block"
                    src="https://i.postimg.cc/cL51yZZt/Whats-App-Image-2021-06-18-at-10-13-49-PM-1.jpg"
                    alt="Second slide"
                    width="400" 
                    height="200">
            </div>
            <div class="carousel-item" align="middle">
                <img class="d-block"
                    src="https://i.postimg.cc/fbtzMFT2/Whats-App-Image-2021-06-18-at-10-13-49-PM-2.jpg"
                    alt="Third slide"
                    width="400" 
                    height="200">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <hr class="my-4">
    <p class="lead">Descripción de la aplicación:</p>
    <br>
    <p class="lead">En la siguiente aplicación se puede apreciar los dashboards resultantes del pronóstico de la
        enfermedad de
        diabetes en la Republica Mexicana.
        <br>
        Además, cuenta con una sección de anexos que brinda información complemetaria
        sobre la
        situación de la Republica Mexicana.
        <br>
        Un característica importante de la aplicación es que cuenta con la capacidad de descargar las consultas por
        dashboard.
        Esto se logra mediante la implementación de dashboards elaborados con la herramienta Tableau.
    </p>
    <br>
    <p class="lead">Descripción secciones de la aplicación:</p>
    <ul class="list-group">
        <li class="list-group-item">Inicio : Presentación del proyecto y aplicación.</li>
        <li class="list-group-item">Predicciones : Presentación de los pronosticos obtenidos.</li>
        <li class="list-group-item">Anexos : Presentación de graficas de otros archivos usados en el proyecto.</li>
    </ul>
    <br>
    <h3>Resumen del proyecto:</h3>
    <br>
    <p>La enfermedad de la diabetes es una enfermedad con presencia a nivel global, y que es padecida
        por millones de individuos en todo el mundo. En México, la atención de esta
        enfermedad supone un gasto de miles de pesos para el gobierno, afecta de manera
        severa el estilo y calidad de vida de aquellos individuos afectados, es por ello que, resulta de
        particular utilidad conocer el desarrollo de esta enfermedad sobre el territorio mexicano, con la
        finalidad de identificar factores de vulnerabilidad y adoptar estrategias para su prevención.
        <br>
        El presente documento tiene como objetivo explicar el análisis, diseño e implementación del
        sistema propuesto para la realización de un pronóstico sobre el comportamiento de la enfermedad
        de la diabetes en México mediante uso de minería de datos.
        <br>
        Para ello se recolectaron diferentes
        bases de datos provenientes de fuentes de acceso público, se procesaron y se obtuvo la
        proyección del desarrollo de la enfermedad de la diabetes. Todo esto, siguiendo los procesos y
        metodologías especializadas para el trabajo de análisis de datos.
        <br>
        Palabras clave: Diabetes, minería de datos, proyección, base de datos.
    </p>

</div>

{{> footer}}